.home {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
}

.post-style {
  border-bottom: 1px solid #e5e7eb;
  margin: 20px;
  &:last-child {
    border-bottom: none;
  }
}

.post {
  padding: 2rem;
}
